/* assets/style.css */

/* Root colors */
/* Reference: https://colorhunt.co/palette/fff5e0ff6969bb2525141e46 */
:root {
    --color-first: #FFF5E0;
    --color-second: #FF6969;
    --color-third: #BB2525;
    --color-fourth: #141E46;
}

/* Import a nice font for Stock Analyzer */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');


/* Apply background color */
body {
    background-color: var(--color-first);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Ensure body takes full height of viewport */
    overflow-y: auto;
    /* Allow the body to handle vertical scrolling */
}

._dash-loading {
    margin: auto;
    color: transparent;
    width: 0;
    height: 0;
    text-align: center;
}

/* Main container */
.main-container {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Align content to the top */
    padding-top: 60px;
    /* Add top padding to account for the navbar height */
    padding-bottom: 60px;
    /* Add bottom padding to account for the footer height */
    box-sizing: border-box;
    /* Ensure padding is included in height calculation */
}

h1 {
    color: var(--color-fourth);
    font-size: 2.5rem;
    /* Reduced size for better hierarchy */
    text-align: center;
    margin-bottom: 15px;
    /* Smaller margin */
    line-height: 1.2;
    /* Improved line spacing */
}

/* Subtitle Style */
h2 {
    color: var(--color-third);
    font-size: 2rem;
    /* Slightly smaller than the title */
    text-align: center;
    margin-bottom: 10px;
    /* Smaller margin */
    font-weight: 600;
    /* Semi-bold for emphasis */
    line-height: 1.3;
    /* Improved line spacing */
}

p {
    color: var(--color-fourth);
    font-size: 1.1rem;
    /* Consistent with your current setup */
    text-align: justify;
    /* Justify text for a clean look */
    max-width: 800px;
    /* Increased max width for better readability */
    margin: 20px auto;
    /* Center with auto margins */
    line-height: 1.6;
    /* Increased line height for better readability */
}

/* Highlighted Stock Analyzer text */
.highlighted-text {
    color: var(--color-second);
    font-style: italic;
    font-family: 'Merriweather', serif;
}

/* Buttons style */
.icons {
    color: white;
    background-color: var(--color-second);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.icons:hover {
    background-color: var(--color-third);
}


/* Custom styling for the navbar */
.navbar-custom {
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-first) !important;
    padding: 1rem 2rem;
    margin-bottom: 1em;
    color: var(--color-fourth) !important;
    z-index: 1000;
}

/* Custom navigation link styles */
.nav-link-custom {
    color: var(--color-fourth) !important;
    /* Use the first color for nav links */
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background-color 0.3s ease, font-style 0.3s ease;
    /* Transition for background color and font style */
    padding: 8px 12px;
    /* Add padding for the link */
    border-radius: 5px;
    /* Rounded corners */
}

/* Specific styles for the logo link to prevent inheriting button styles */
.logo-link {
    background-color: transparent;
    /* No background */
    padding: 0;
    /* Remove padding */
    font-weight: normal;
    /* Reset font weight */
    color: inherit;
    /* Inherit color from parent or define a specific color */
}

/* Optionally, you can define hover effects for the logo link */
.logo-link:hover {
    background-color: transparent;
    /* Ensure hover does not apply any background */
}


/* Hover effect for nav links */
.nav-link-custom:hover {
    text-decoration: underline;
    font-style: italic;
    background-color: transparent;
}


/* Custom styles for the divider line */
.divider-line {
    border: none;
    /* Remove default border */
    height: 2px;
    /* Thickness of the line */
    background-color: var(--color-first);
    /* Color of the line */
    margin: 0;
    /* Margin can be adjusted as needed */
    margin-top: 1em;
    /* Space above the line */
    margin-bottom: 1em;
    /* Space below the line */
    visibility: hidden;
}

/* Custom styling for the footer */
.footer-custom {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-first);
    color: var(--color-fourth);
    padding: 1rem 2rem;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-divider {
    width: 100%;
    border: 0.5px solid var(--color-fourth);
    margin-bottom: 5rem;
}

/* Important Information Style */
.important-info {
    color: var(--color-second);
    /* Use second color for emphasis */
    font-weight: bold;
    /* Bold text for important information */
    font-size: 1.2rem;
    /* Slightly larger than normal text */
    background-color: rgba(255, 105, 105, 0.1);
    /* Light background for emphasis */
    padding: 10px;
    /* Padding for spacing */
    border-left: 4px solid var(--color-second);
    /* Left border for emphasis */
    margin: 20px auto;
    /* Center with auto margins */
    max-width: 800px;
    /* Consistent max width */
}

/* Landing Page Container */
.landing-container {
    /* background-color:  rgba(255, 105, 255, 0.1); */
    display: flex;
    /* Enable flexbox layout */
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    max-width: 1200px;
    /* Max width for larger screens */
    margin: 0 auto;
    /* Center the container */
    height: 80vh;
    /* Make the container full height of the viewport */
}

/* Title Style */
.landing-title {
    font-size: 3.5rem;
    /* Adjust size to be 'middle' */
    color: var(--color-second);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Slogan Style */
.landing-slogan {
    font-size: 4.5rem;
    /* Adjust size to be smaller than title */
    color: var(--color-fourth);
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    /* Center the slogan text */
}

/* Vertical line after the slogan */
.scroll-indicator {
    height: 50px;
    /* Height of the vertical line */
    width: 2px;
    /* Width of the vertical line */
    background-color: var(--color-second);
    /* Color of the line */
    /* Center the line and add margin above and below */
    /* Center the vertical line */
}


/* Graph Container */
.graph-container {
    max-width: 30%;
    /* Occupy 30% of the container */
    display: flex;
    /* Use flex to align graph */
    justify-content: center;
    /* Center the graph horizontally */
    align-items: center;
    /* Center the graph vertically */
}

.title-line {
    font-size: 4rem;
    line-height: 1.2em;
    color: var(--color-second);
}


.diagonal-background {
    position: relative;
    width: 550px;
    height: 75px;
    /* Adjust height as needed */
    border: 2px solid var(--color-third);
    transform: skew(-50deg);
    /* Create diagonal effect */
    z-index: 1;
    /* This puts the diagonal below the text */
    margin-top: -85px;
    /* Adjust to move closer to the text */
    margin-bottom: 2.5em;
}

.aligned-list {
    margin-left: 40px;
    /* Aligns with the paragraph */
    list-style-type: disc;
    /* Optional: Change bullet style */
}

.aligned-list li {
    margin-bottom: 5px;
    /* Space between each list item */
}

/* Custom styling for mobile screens */
@media (max-width: 768px) {
    body {
        height: auto;
        /* Allow body height to adjust based on content */
    }

    .main-container {
        padding: 20px;
        /* Add padding for smaller screens */
    }

    h1 {
        font-size: 2rem;
        /* Adjust header size for mobile */
    }

    p {
        font-size: 1rem;
        /* Adjust paragraph size for mobile */
    }

    .icons {
        padding: 5px;
        /* Smaller padding for icons */
        font-size: 0.9rem;
        /* Smaller font size for mobile */
    }

    /* Footer adjustments for mobile */
    .footer-custom {
        padding: 1rem;
        /* Adjust footer padding for mobile */
        text-align: center;
        /* Center align footer text */
    }
}